/*Hero text*/
h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: white;
  padding-left: 10%;
  padding-bottom: 35%;
}
/*Discover our Courses*/
h2 {
  font-family: sans;
  font-size: 3rem;
  font-weight: bold;
  color: #727d84;
}
/*Employers header*/
h3 {
  font-family: serif;
  font-size: 3rem;
  color: white;
  margin-top: 5%;
  font-style: italic;
}
/*Info on Iron Yard hader*/
h4 {
  margin-top: 5%;
  color: #727d84;
  font-family: serif;
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
}
/*Questions?*/
h5 {
  font-size: 2rem;
  font-weight: bold;
  color: #727d84;
  font-family: serif;
}
/*Headers in boxes?*/
h6 {
  color: white;
  font-size: 2rem;
  font-family: serif;
  color: #727d84;
  font-weight: bold;

}
/*General text*/
p {
  color: #727d84;
  font-family: helvetica;
  font-size: 1.7rem;
}
/*General text*/
a {
  color: white;
  font-family: helvetica;
  font-size: 1.7rem;
  text-align: center;
  margin: 15%;
}
/*Navbar Snafu*/
.header {
  background-color: #39474e;
  padding-left: 3%;
  padding-top: 3%;
  padding-right: 4%;
  padding-bottom: 1%;
  width: 100%;
  font-family: serif;
}
/*Logo*/
.logo {
  height: 50px;
}
/*Header Styling*/
.navbar-default {
    background-color: #39474e;
    border-color: #39474e;
    padding-bottom: 1%;
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #9f9f9f;
    border-bottom: solid 2px #6fbbb7;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-right  > li > a {
  color: #bbbec0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > .navbar-default .navbar-nav > .active > a:focus {
    background-color: #39474e;
    color: #9f9f9f;
}
.getstarted {
  background-color: #6fbbb7;
  border-radius: 5%;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #EF92A5;
  text-decoration: none;
}
/*Found the instructions on how to edit the bootstrap nav bar in this site: https://www.dmxzone.com/support/22598/topic/59630/*/
.disp {
  display: inline-block;
  position: fixed;
}

/*Hero area*/
.hero {
  background-image: url(../images/hero.jpg);
  width: 100%;
  min-height: 700px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  padding-top: 30%;
  font-family: "PT Serif", serif;
  margin-top: -2%;
  margin-bottom: -30px;
}
/*Media*/
.media {
  background-color: #eeeeee;
  min-height: 100%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: -30px;
}
.companies img {
  width: 100%;
}

/*TYI features*/
.features {
  margin-bottom: 15%;
  padding-top: 7%;
}
.form-styles {
  background-color: #ebebeb;
  width: 100%;
  margin-top: 13%;
  padding: 15%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888888;
}
.button {
  background-color: #6fbbb7;
  border-style: none;
  border-radius: 10px;
  width: auto;
  color: white;
  padding: 5%;
  font-size: 2rem;
  box-shadow: 2px 2px 5px #0d716b;
}
input {
  align-items: center;
  width: 250px;
  font-style: italic;
  font-family: serif;
  font-weight: normal;
  font-size: 1.5rem;
  align-self: center;
}
.col-grey {
  background-color: #eeeeee;
  height: 100%;
  text-align: center;
}

/*Employers*/
.col-employers {
  background-image: url(../images/employers-image.jpg);
  background-size: cover;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-align: center;
}
.employerlogos {
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
}


.footer {
  background-color: #39474e;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;

}
.gridbase {
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}
